<div class="contact">
  <ul>
    <li>
      <span class="li-icon">{% include svg/internet.svg %}</span>
      <a href="https://mklkcdg.github.io">https://mklkcdg.github.io</a>
    </li>
    <li>
      <span class="li-icon">{% include svg/github.svg %}</span>
      <a href="https://github.com/{{ site.social.github }}">GitHub</a>
    </li>
    <li>
      <span class="li-icon">{% include svg/linkedin.svg %}</span>
      <a href="https://linkedin.com/in/{{ site.social.linkedin }}">LinkedIn</a>
    </li>
  </ul>
</div>
