<div class="contact">
  <h2>Contact</h2>
  <ul>
    <li>Bartın University</li>
    <li><span class="li-icon">{% include svg/mail.svg %}</span><a href="mailto:mkocadag219@gmail.com">mkocadag219@gmail.com</a></li>
    <li><span class="li-icon">{% include svg/internet.svg %}</span><a href="https://mklkcdg.github.io">https://mklkcdg.github.io</a></li>
    <p hidden>ipucu:https://github.com/swisskyrepo/PayloadsAllTheThings/blob/master/Server%20Side%20Template%20Injection/README.md</p>

  </ul>
</div>
